
  progress[value] {

    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;

    width: 50px;
    height: 20px;
    cursor: pointer;
  }
  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress[value]::-webkit-progress-value {

    background-image: linear-gradient(to left, rgb(87, 88, 97), rgb(71, 71, 78), rgb(54, 53, 59), rgb(38, 36, 41), rgb(21, 18, 22), rgb(5, 1, 3), rgb(45, 40, 42), rgb(84, 79, 80), rgb(124, 118, 119), rgb(163, 156, 157), rgb(203, 195, 196), rgb(242, 234, 234));

      border-radius: 0.5em 0.5em;
      background-size: cover;
    background-blend-mode: difference;
    background-position:
        calc(50% - 1px) calc(50% - 1px),
        calc(50% + 1px) calc(50% + 1px);
    filter: brightness(3) invert(1) grayscale(1);
      /* background-size: 35px 20px, 100% 100%, 100% 100%; */
  }
  div.progressBar> span{
      display: inline-block;
      width:21px;
  }

 /* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  /* position: absolute; */
  /* left: -9999px; */
  display: none;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 10px; top: 0;
  width: 1em; height: 1em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: 14px;
  font-size: 1em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  /* font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial; */
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9;
}

/* Useless styles, just for demo design */

